.page-banner-area {
  background-image: url("../../../assets/faqs.png");
  padding: 130px 100px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom center;
}

.banner-fap {
  height: 400px;
}

.page-banner-area h2 {
  color: #fff;
  position: relative;
}

.banner-fap h2 {
  font-weight: 400 !important;
  font-size: 32px;
}

.page-banner-area h2:before {
  position: absolute;
  font-family: FontAwesome;
  color: #6fda44;
  top: 0;
  content: "\f10d";
  font-size: 16px;
  margin-left: -22px;
}

.page-banner-area h2 .lfts {
  color: #6fda44;
  font-size: 28px;
}

.page-banner-area h2 span {
  font-weight: 700;
}

.page-banner-area h2:after {
  position: absolute;
  font-family: FontAwesome;
  color: #6fda44;
  bottom: 3px;
  font-size: 16px;
  content: "\f10e";
  padding-left: 10px;
}

.faq-wrapper {
  padding-bottom: 60px;
}

.faq-wrapper .faq-tabs .panel-group {
  margin-bottom: 0;
}

.faq-wrapper .faq-tabs .panel-group .panel {
  border: 0 none;
  box-shadow: none;
  margin-bottom: 20px;
}

.faq-wrapper .faq-tabs .panel-group .panel .panel-heading {
  border: 0 none;
  background: none;
  border-radius: 0;
  padding: 0;
}

.faq-wrapper .faq-tabs .panel-group .panel .panel-heading h4.panel-title {
  font-size: 16px;
}

.faq-wrapper .faq-tabs .panel-group .panel:last-child {
  margin-bottom: 0;
}

.faq-wrapper .faq-tabs .panel-group .panel .panel-heading h4.panel-title a {
  display: block;
  padding: 15px;
  background: #f7f7f7;
  position: relative;
}

.faq-wrapper
  .faq-tabs
  .panel-group
  .panel
  .panel-heading
  h4.panel-title
  a[aria-expanded="false"]:before {
  content: "\f196";
  font-family: "FontAwesome";
  position: absolute;
  right: 15px;
  top: 17px;
  transition: all 0.3s ease 0s;
  color: #80cd36;
}

a:hover,
a:focus {
  color: #6fda44;
  text-decoration: none;
}

.panel-collapse {
  transition: height 0.35s ease;
}

.faq-wrapper .faq-tabs .panel-group .panel .panel-collapse .panel-body {
  border: 0 none;
  background: #2a3539;
  padding: 30px;
  color: #fff;
}

.faq-wrapper .faq-tabs .panel-group .panel .panel-collapse .panel-body i {
  color: #6ed743;
}

.fa-quote-right::before,
.fa-quote-left::before {
  display: none;
}

@media only screen and (max-width: 1180px) {
  .page-banner-area h2 {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1300px;
  }
}

@media only screen and (max-width: 767px) {
  .page-banner-area {
    padding: 90px 20px;
  }
  .page-banner-area {
    background-image: url(../../../assets/sniser-banner-new.jpeg) !important;
    background-position: left !important;
    // height: auto !important;
  }
  section.faq-wrapper.pt-70 {
    margin-top: 20px;
  }
  .pt-70 {
    padding-top: 40px;
  }
  .faq-wrapper {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .page-banner-area.banner-fap {
    background: url(../../../assets/faqs.png) no-repeat center center fixed !important;
    background-size: cover !important;
  }
}
