.modal-right-col {
  .title {
    font-size: 28px;
  }
}
.login-form.signup-form .form-control {
  padding: 0 5px !important;
  font-size: 15px;
}

.form-control {
  height: 40px;
  color: #252525;
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
  &.invalid {
    border-color: red;
    &:focus {
      border-color: red !important;
    }
  }
}
